---
# NOTE there must be no spaces before the '-', so put the comma last.

# TODO: fix any changes that are disabled below the 1st blank line
#
# goto checks are disabled because clang-tidy reports issues from GTest macros in our sources
Checks: '
bugprone-*,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-goto,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-facebook-hte-RelativeInclude,
hicpp-exception-baseclass,
modernize-*,
-modernize-concat-nested-namespaces,
-modernize-use-auto,
-modernize-use-nodiscard,
-modernize-use-trailing-return-type,
performance-*,

-bugprone-argument-comment,
-bugprone-branch-clone,
-bugprone-exception-escape,
-bugprone-integer-division,
-bugprone-macro-parentheses,
-bugprone-lambda-function-name,
-bugprone-move-forwarding-reference,
-bugprone-narrowing-conversions,
-bugprone-signed-char-misuse,
-bugprone-sizeof-container,
-bugprone-sizeof-expression,
-bugprone-string-literal-with-embedded-nul,
-bugprone-suspicious-string-compare,
-bugprone-easily-swappable-parameters,
-clang-analyzer-core.CallAndMessage,
-clang-analyzer-core.DivideZero,
-clang-analyzer-core.NullDereference,
-clang-analyzer-core.UndefinedBinaryOperatorResult,
-clang-analyzer-core.uninitialized.Assign,
-clang-analyzer-cplusplus.Move,
-clang-analyzer-cplusplus.NewDeleteLeaks,
-clang-analyzer-deadcode.DeadStores,
-clang-analyzer-optin.cplusplus.UninitializedObject,
-clang-analyzer-optin.performance.Padding,
-clang-diagnostic-braced-scalar-init,
-clang-diagnostic-deprecated-declarations,
-clang-diagnostic-infinite-recursion,
-clang-diagnostic-pessimizing-move,
-clang-diagnostic-unneeded-internal-declaration,
-clang-diagnostic-unused-const-variable,
-clang-diagnostic-unused-private-field,
-clang-diagnostic-unused-variable,
-clang-diagnostic-unused-value,
-clang-diagnostic-inconsistent-missing-override,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-c-copy-assignment-signature,
-cppcoreguidelines-explicit-virtual-functions,
-cppcoreguidelines-init-variables,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-narrowing-conversions,
-cppcoreguidelines-no-malloc,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-cstyle-cast,
-cppcoreguidelines-pro-type-member-init,
-cppcoreguidelines-pro-type-const-cast,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-special-member-functions,
-modernize-avoid-bind,
-modernize-avoid-c-arrays,
-modernize-deprecated-headers,
-modernize-make-unique,
-modernize-raw-string-literal,
-modernize-redundant-void-arg,
-modernize-use-bool-literals,
-modernize-use-default-member-init,
-modernize-use-equals-default,
-modernize-loop-convert,
-modernize-pass-by-value,
-modernize-unary-static-assert,
-modernize-use-emplace,
-modernize-use-equals-delete,
-modernize-use-nullptr,
-modernize-use-override,
-modernize-use-transparent-functors,
-modernize-use-using,
-performance-enum-size,
-performance-faster-string-find,
-performance-for-range-copy,
-performance-inefficient-string-concatenation,
-performance-inefficient-vector-operation,
-performance-move-const-arg,
-performance-move-constructor-init,
-performance-no-automatic-move,
-performance-noexcept-move-constructor,
-performance-type-promotion-in-math-fn,
-performance-unnecessary-copy-initialization,
-performance-unnecessary-value-param,
'

CheckOptions:
    - key: cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
      value: true

FormatStyle: file
HeaderFilterRegex: 'habana|hpu|pt_ver|pytorch_helpers|python_packages|tests|sl_report_generator/'
# WarningsAsErrors: '*'
...
