auditwheel>=6
cmake>=3.26.3,<4
cython
lark
ninja>=1.11.1
numpy<2
packaging>=24.1
pandas
pip>=24.1.2
pkginfo>=1.11.1
pre-commit
pybind11>=2.12
requests
setuptools>=67.7.2,<=77.0.1 # 77.0.1 is last known working version, TODO investigate why
symengine>=0.14.0 ; python_version != '3.11'
symengine<0.10.0 ; python_version == '3.11'
wheel>=0.40
