hypothesis
expecttest
junitparser==2.2.0
numpy==1.23.5
pandas==1.5.3
pytest==7.1.0
pytest-random-order==1.0.2
pytest-html
pytest-timeout
pytest-xdist
pytest-forked
matplotlib
scipy==1.9.1
subprocess_tee
transformers==4.27.1
python-etcd==0.4.5